$clrDark: #4b5162;
$clrLight: #fff;
$accent: #00FFF0;


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  


a{
    text-decoration: none;
    color: $clrLight;

    &:hover{
        text-decoration: underline;
    }
}

