footer{

    margin-top: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;

    a{
        color:darken($clrLight, 15);
    }

    .footerGroup{
        margin-bottom: 1em;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;

        padding-right: 0.5em;
        border-bottom: 2px solid lighten($clrDark, 15);

        &:last-child{
            border-bottom:none;
        }


        li{
            margin-left: 0.25em;
            
            &::before {
                content: "\2022";
                color: $clrLight;
                font-weight: bold;
                display: inline-block;
                padding: .5em;
              }
        }

    }
}