.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 1em .75em; 
    margin-bottom: 2em;

    .home-link{
        display: block;
        font-weight: 600;
        font-size: 2em;
        padding: 0.25em 0;
    }

    h3{
        font-size: 0.85em;
        padding: 0.25em 0 ;
    }

    a{
        padding: 0.25em;
    }

    .socialLinks{
        padding-top: 0.5em;
    }
}