@import "config";
@import "header";
@import "weeksList";
@import "footer";
@import "weekContent";

body{
    background: $clrDark;
    color: $clrLight;
}


.App{
    margin: 0.5em;
    padding: 0.5em;
}

.main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}